.navbar-white {
    background-color: white;
  }
.navbar-white:hover{
    background-color: black;
    color:white;
}
.navbar-hovered {
    background-color: black;
  }
  
  .navbar-hovered .nav-link {
    color: white;
  }
  .test1{
    background-color: pink;
  }
  .dropdown-item:hover {
    background-color: black;
    color: white;
  }